<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="back">
  <!-- <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-title>Header - No Border</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <img
    class="animate__animated animate__fadeIn"
    style="
      max-width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    "
    src="\assets\todo_icon.png"
  />

  <ion-item
    class="animate__animated animate__fadeIn"
    style="
      margin-top: 10%;
      border-radius: 8px;
      font-size: 13pt;
      margin-inline: 50px;
      text-align: center;
      box-shadow: 5px 5px 5px rgba(58, 58, 58, 0.4);
      width: 13.7rem;
      height: 2.5rem;
      margin-left: 20%;
    "
  >
    <ion-label position="stacked"
      >Ad Soyad<ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input [(ngModel)]="inputname"></ion-input>
  </ion-item>

  <ion-item
    class="animate__animated animate__fadeIn"
    style="
      margin-top: 10px;
      border-radius: 8px;
      font-size: 13pt;
      margin-inline: 50px;
      text-align: center;
      box-shadow: 5px 5px 5px rgba(58, 58, 58, 0.4);
      width: 13.7rem;
      height: 2.5rem;
      margin-left: 20%;
    "
  >
    <ion-label position="stacked"
      >E-Mail<ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input [(ngModel)]="inputemail"></ion-input>
  </ion-item>

  <ion-item
    class="animate__animated animate__fadeIn"
    style="
      margin-top: 10px;
      border-radius: 8px;
      font-size: 13pt;
      margin-inline: 50px;
      text-align: center;
      box-shadow: 5px 5px 5px rgba(58, 58, 58, 0.4);
      width: 13.7rem;
      height: 2.5rem;
      margin-left: 20%;
    "
  >
    <ion-label position="stacked"
      >Sifre<ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input [(ngModel)]="inputpassword"></ion-input>
  </ion-item>

  <ion-button
    class="animate__animated animate__fadeIn, ion-activatable ripple-parent"
    color=" #22A45D"
    style="
      margin-left: 50px;
      margin-block-start: 10px;
      width: 220px;
      background-color: #22a45d;
      border-radius: 8px;
      width: 13.7rem;
      height: 2.5rem;
      margin-left: 20%;
    "
  >
  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    Kayit Ol
  </ion-button>

  <ion-button
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
    class="animate__animated animate__fadeIn, ion-activatable ripple-parent"
    color="#22A45D"
    style="
      width: 220px;
      background-color: #22a45d;
      border-radius: 8px;
      width: 13.7rem;
      height: 2.5rem;
      margin-left: 20%;
    "
  >
  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    Giriş
  </ion-button>

  <ion-text
    class="animate__animated animate__fadeIn, ion-activatable ripple-parent"
    color="dark"
    [routerLink]="['/password']"
    routerLinkActive="router-link-active"
  >
    <p style="text-align: center">Şifremi Unuttum !</p>
  </ion-text>


</ion-content>
