.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 250px !important;  //any size
    max-height: 250px !important; //any size
    margin: auto;
    margin-top: 50px;

    }

.button1{
    // width:100% !important;  
    // height : 100% !important;  
    max-width: 250px !important;  //any size
    max-height: 250px !important; //any size
    background-color: #22a45d;
    border-radius: 8px;
    width: 13.7rem;
    height: 2.5rem;
    margin-top: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}