

    <ion-buttons slot="start">
      <ion-back-button text="Geri" defaultHref="folder" color="light"></ion-back-button>
    </ion-buttons>



<ion-content [fullscreen]="true" class="back">


 
  <img class="animate__animated animate__fadeIn" style="height: 200px; margin-top: 30px; margin-left: 60px;" src="\assets\todo_icon.png" alt="asd">



  <ion-item class="animate__animated animate__fadeIn"
    style="
     margin-top: 10%;
       border-radius: 8px;
        font-size: 13pt;
        margin-inline: 50px;
        text-align: center;
        box-shadow: 5px 5px 5px rgba(58, 58, 58, 0.4);
        width: 13.7rem;
        height: 2.5rem;
        ">
    <ion-label position="floating" >E-Mail<ion-text color="danger">*</ion-text></ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item class="animate__animated animate__fadeIn"
    style="
     margin-top: 10px;
       border-radius: 8px;
        font-size: 13pt;
        margin-inline: 50px;
        text-align: center;
        box-shadow: 5px 5px 5px rgba(58, 58, 58, 0.4);
        width: 13.7rem;
        height: 2.5rem;
        
        ">
    <ion-label position="floating" >Sifre<ion-text color="danger">*</ion-text></ion-label>
    <ion-input ></ion-input>
  </ion-item>


  <ion-button  class="animate__animated animate__fadeIn"  color=" #22A45D"
  style="
  margin-left: 50px;
  margin-block-start: 10px;
  width: 220px;
  background-color: #22A45D;
  border-radius: 8px;
  
  ">
  Giriş
</ion-button>








</ion-content>
